<div id="modal-detail" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Order detail</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group">
                            <input type="hidden" id="hidId" value="0" />
                            <label for="txtCustomerName" class="col-sm-2 control-label ">Customer name</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtCustomerName" class="form-control" id="txtCustomerName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtCustomerAddress" class="col-sm-2 control-label ">Address</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtCustomerAddress" class="form-control" id="txtCustomerAddress" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtCustomerMobile" class="col-sm-2 control-label ">Phone</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtCustomerMobile" class="form-control" id="txtCustomerMobile" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtCustomerMessage" class="col-sm-2 control-label ">Customer message</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtCustomerMessage" class="form-control" id="txtCustomerMessage" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">Payment method</label>
                            <div class="col-sm-10">
                                <select id="ddlPaymentMethod" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label f class="col-sm-2 control-label ">Bill status</label>
                            <div class="col-sm-10">
                                <select id="ddlBillStatus" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">Details</label>
                            <div class="col-sm-10">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Color</th>
                                            <th>Size</th>
                                            <th>Quantity</th>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl-bill-details"></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <button class="btn btn-xs btn-success" id="btnAddDetail" type="button">Add</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <script type="x-tmpl-mustache" id="template-table-bill-details">
                                    <tr data-id="{{Id}}">
                                        <td>{{{Products}}}</td>
                                        <td>{{{Colors}}}</td>
                                        <td>{{{Sizes}}}</td>
                                        <td><input type="number" class="txtQuantity form-control" value="{{Quantity}}" /></td>
                                        <td><button class="btn btn-xs btn-danger btn-delete-detail" type="button"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                </script>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <button type="button" id="btnConfirm" class="btn btn-success">Confirm payment</button>
                    <button type="button" id="btnPending" class="btn btn-warning">Pending</button>
                    <button type="button" id="btnCancel" class="btn btn-primary">Cancel</button>
                    <button type="button" id="btnExport" class="btn btn-default">Export</button>

                    <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>