
@{
    ViewData["Title"] = "Index";
}

 <!-- Main Container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart">

                <div class="page-content page-order">
                    <div class="page-title">
                        <h2>Shopping Cart</h2>
                    </div>


                    <div class="order-detail-content">
                        <div class="table-responsive">
                            <table class="table table-bordered cart_summary">
                                <thead>
                                    <tr>
                                        <th class="cart_product">Product</th>
                                        <th>Description</th>
                                        <th>Unit price</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                        <th class="action"><i class="fa fa-trash-o"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="cart_product"><a href="#">
                                            <img src="images/products/product-1.jpg" alt="Product"></a>
                                        </td>
                                        <td class="cart_description">
                                            <p class="product-name"><a href="#">Ipsums Dolors Untra </a></p>
                                            <small><a href="#">Color : Red</a></small>
                                            <small><a href="#">Size : M</a></small>
                                        </td>
                                        <td class="availability in-stock"><span class="label">In stock</span></td>
                                        <td class="price"><span>$49.88</span></td>
                                        <td class="qty"><input class="form-control input-sm" type="text" value="1"></td>
                                        <td class="price"><span>$49.88</span></td>
                                        <td class="action"><a href="#"><i class="icon-close"></i></a></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"><strong>Total</strong></td>
                                        <td colspan="2"><strong>$237.88 </strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="cart_navigation"> <a class="continue-btn" href="#"><i class="fa fa-arrow-left"> </i>&nbsp; Continue shopping</a> <a class="checkout-btn" href="#"><i class="fa fa-check"></i> Proceed to checkout</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

