@using Microsoft.AspNetCore.Identity
@using TeduCoreApp.Models
@using TeduCoreApp.Extensions

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="@User.GetSpecificClaim("Avatar")" alt="">@User.GetSpecificClaim("FullName")
    <span class=" fa fa-angle-down"></span>
</a>
<ul class="dropdown-menu dropdown-usermenu pull-right">
    <li><a href="javascript:;"> Profile</a></li>
    <li>
        <a href="javascript:;">
            <span class="badge bg-red pull-right">50%</span>
            <span>Settings</span>
        </a>
    </li>
    <li><a href="javascript:;">Help</a></li>
    <li>
        <form action="/Admin/Account/Logout" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
        </form>
    </li>
</ul>

