<header>
    <div class="header-container">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <!-- Default Welcome Message -->
                        <div class="welcome-msg hidden-xs hidden-sm">Default welcome msg! </div>
                        <!-- Language &amp; Currency wrapper -->
                        <div class="language-currency-wrapper">
                            <div class="inner-cl">
                                <div class="block block-language form-language">
                                    <div class="lg-cur"><span><img src="/client-side/images/flag-default.jpg" alt="French"><span class="lg-fr">French</span><i class="fa fa-angle-down"></i></span></div>
                                    <ul>
                                        <li><a class="selected" href="#"><img src="/client-side/images/flag-english.jpg" alt="english"><span>English</span></a></li>
                                        <li><a href="#"><img src="/client-side/images/flag-default.jpg" alt="French"><span>French</span></a></li>
                                        <li><a href="#"><img src="/client-side/images/flag-german.jpg" alt="German"><span>German</span></a></li>
                                        <li><a href="#"><img src="/client-side/images/flag-brazil.jpg" alt="Brazil"><span>Brazil</span></a></li>
                                        <li><a href="#"><img src="/client-side/images/flag-chile.jpg" alt="Chile"><span>Chile</span></a></li>
                                        <li><a href="#"><img src="/client-side/images/flag-spain.jpg" alt="Spain"><span>Spain</span></a></li>
                                    </ul>
                                </div>
                                <div class="block block-currency">
                                    <div class="item-cur"><span>USD</span><i class="fa fa-angle-down"></i></div>
                                    <ul>
                                        <li><a href="#"><span class="cur_icon">€</span>EUR</a></li>
                                        <li><a href="#"><span class="cur_icon">¥</span>JPY</a></li>
                                        <li><a class="selected" href="#"><span class="cur_icon">$</span>USD</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- top links -->
                    <div class="headerlinkmenu col-md-8 col-sm-8 col-xs-12">
                        <span class="phone  hidden-xs hidden-sm">Call Us: +123.456.789</span>
                        <ul class="links">
                            <li class="hidden-xs"><a title="Help Center" href="#"><span>Help Center</span></a></li>
                            <li><a title="Store Locator" href="#"><span>Store Locator</span></a></li>
                            <li><a title="Checkout" href="checkout.html"><span>Checkout</span></a></li>
                            @if (User.Identity.IsAuthenticated)
                            {

                                <li>
                                    <div class="dropdown">
                                        <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span>@User.GetSpecificClaim("FullName")</span> <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/account.html">Account</a></li>
                                            <li><a href="/wishlist.html">Wishlist</a></li>
                                            <li><a href="/orders-list.html">Order Tracking</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                                        <a href="#" onclick="document.getElementById('logoutForm').submit()"><span>Thoát</span></a>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li><a title="login" href="/login.html"><span>Login</span></a></li>
                                <li><a title="register" href="/register.html"><span>Register</span></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- header inner -->
        <div class="header-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-12 jtv-logo-block">

                        <!-- Header Logo -->
                        <div class="logo"><a title="e-commerce" href="/"><img alt="ShopMart" title="ShopMart" src="/client-side/images/logo.png"></a> </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-6 jtv-top-search">

                        <!-- Search -->

                        <div class="top-search">
                            <div id="search">
                                <form method="get" action="/search.html">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter your product name..." name="keyword">
                                        <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- End Search -->

                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 top-cart">
                        <div class="link-wishlist"> <a href="#"> <i class="icon-heart icons"></i><span> Wishlist</span></a> </div>
                        <!-- top cart -->
                        <div class="top-cart-contain">
                            <vc:header-cart ></vc:header-cart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>