<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ShopMart premium HTML5 &amp; CSS3 template</title>
    <meta name="description" content="best template, template free, responsive theme, fashion store, responsive theme, responsive html theme, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template">
    <meta name="keywords" content="bootstrap, ecommerce, fashion, layout, responsive, responsive template, responsive template download, responsive theme, retail, shop, shopping, store, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template" />

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- CSS Style -->
    <link rel="stylesheet" href="~/client-side/style.css">
</head>

<body class="cms-index-index cms-home-page">

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- mobile menu -->
    @await Component.InvokeAsync("MobileMenu")
    <!-- end mobile menu -->
    <div id="page">

        <!-- Header -->
        @Html.Partial("_Header.cshtml")
        <!-- end header -->
        <nav>
            <div class="container">
                <div class="row">
                    <div class="mm-toggle-wrap">
                        <div class="mm-toggle"><i class="fa fa-align-justify"></i> </div>
                        <span class="mm-label">All Categories</span>
                    </div>
                    <div class="col-md-3 col-sm-3 mega-container hidden-xs">
                        @await Component.InvokeAsync("CategoryMenu")
                    </div>
                    <div class="col-md-9 col-sm-9 jtv-megamenu">
                       @await Component.InvokeAsync("MainMenu")
                    </div>
                </div>
            </div>
        </nav>

        @RenderBody()
        <!-- Footer -->
        @Html.Partial("_Footer.cshtml")
        <!-- End Footer -->
    </div>

    <!-- JS -->
    <!-- jquery js -->
    <script type="text/javascript" src="~/client-side/js/jquery.min.js"></script>

    <!-- bootstrap js -->
    <script type="text/javascript" src="~/client-side/js/bootstrap.min.js"></script>

    <!-- owl.carousel.min js -->
    <script type="text/javascript" src="~/client-side/js/owl.carousel.min.js"></script>

    <!-- jquery.mobile-menu js -->
    <script type="text/javascript" src="~/client-side/js/mobile-menu.js"></script>

    <!--jquery-ui.min js -->
    <script type="text/javascript" src="~/client-side/js/jquery-ui.js"></script>

    <!-- main js -->
    <script type="text/javascript" src="~/client-side/js/main.js"></script>

    <!-- countdown js -->
    <script type="text/javascript" src="~/client-side/js/countdown.js"></script>

    <!-- Slider Js -->
    <script type="text/javascript" src="~/client-side/js/revolution-slider.js"></script>


    @RenderSection("Scripts",required:false)
    
</body>
</html>
