@model List<ProductCategoryViewModel>
<div id="mobile-menu">
    <ul>
        <li>
            <a href="/" class="home1">Home</a>
        </li>
        <li>
            <a href="/products.html">Products</a>
            <ul>
                @foreach (var item in Model.Where(x => x.ParentId == null))
                {
                    <li>
                        <a href="/@item.SeoAlias-c.@(item.Id).html">@item.Name </a>
                        @if (Model.Any(x => x.ParentId == item.Id))
                        {
                            <ul>
                                @foreach (var subItem in Model.Where(x => x.ParentId == item.Id))
                                {
                                    <li><a href="/@subItem.SeoAlias-c.@(subItem.Id).html"><span>@subItem.Name</span></a></li>
                                }
                            </ul>
                        }

                    </li>
                }
            </ul>
        </li>
       
    </ul>
</div>