@model TeduCoreApp.Application.ViewModels.Blog.PageViewModel
@{
    ViewData["Title"] = Model.Name;
    ViewData["MetaKeyword"] = Model.Name;
    ViewData["MetaDescription"] = Model.Name;
}

<!-- Main Container -->
<section class="blog_post">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="entry-detail">
                    <div class="page-title">
                    </div>
                    <div class="entry-meta-data">
                        <div class="blog-top-desc">
                            <h1>@Model.Name</h1>
                        </div>
                    </div>
                    <div class="content-text clearfix">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End --> 