@model List<ProductCategoryViewModel>
<div class="mtmegamenu">
    <ul class="hidden-xs">
        <li class="mt-root demo_custom_link_cms">
            <div class="mt-root-item">
                <a href="/">
                    <div class="title title_font"><span class="title-text">Home</span></div>
                </a>
            </div>
           
        </li>
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="/products.html">
                    <div class="title title_font"><span class="title-text">Products</span></div>
                </a>
            </div>
            <ul class="menu-items col-xs-12">
                @foreach (var item in Model.Where(c => c.ParentId == null))
                {
                    <li class="menu-item depth-1 menucol-1-3 ">
                        <div class="title title_font"> <a href="/@item.SeoAlias-c.@(item.Id).html">@item.Name</a></div>
                        <ul class="submenu">
                            @foreach (var subItem in Model.Where(x => x.ParentId == item.Id))
                            {
                                <li class="menu-item">
                                    <div class="title"> <a href="/@subItem.SeoAlias-c.@(subItem.Id).html">@subItem.Name</a></div>
                                </li>
                            }

                        </ul>
                    </li>
                }
               
            </ul>
        </li>
     
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="about.html">
                    <div class="title title_font"><span class="title-text">About</span></div>
                </a>
            </div>
        </li>
        <li class="mt-root demo_custom_link_cms">
            <div class="mt-root-item">
                <a href="blog.html">
                    <div class="title title_font"><span class="title-text">Blog</span></div>
                </a>
            </div>
        </li>
        <li class="mt-root">
            <div class="mt-root-item">
                <div class="title title_font"><span class="title-text">Best Seller</span></div>
            </div>
            <ul class="menu-items col-xs-12">
                <li class="menu-item depth-1 product menucol-1-3 withimage">
                    <div class="product-item">
                        <div class="item-inner">
                            <div class="product-thumbnail">
                                <div class="icon-sale-label sale-left">Sale</div>
                                <div class="pr-img-area">
                                    <a title="Product title here" href="single_product.html">
                                        <figure> <img class="first-img" src="/client-side/images/products/product-1.jpg" alt="html theme"> <img class="hover-img" src="/client-side/images/products/product-1.jpg" alt="html Template"></figure>
                                    </a>
                                </div>
                                <div class="pr-info-area">
                                    <div class="pr-button">
                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="Product title here" href="single_product.html">Product title here </a> </div>
                                    <div class="item-content">
                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                        </div>
                                        <div class="pro-action">
                                            <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item depth-1 product menucol-1-3 withimage">
                    <div class="product-item">
                        <div class="item-inner">
                            <div class="product-thumbnail">
                                <div class="icon-sale-label sale-left">Sale</div>
                                <div class="pr-img-area">
                                    <a title="Product title here" href="single_product.html">
                                        <figure> <img class="first-img" src="/client-side/images/products/product-1.jpg" alt="html Template"> <img class="hover-img" src="/client-side/images/products/product-1.jpg" alt="html Template"></figure>
                                    </a>
                                </div>
                                <div class="pr-info-area">
                                    <div class="pr-button">
                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="Product title here" href="single_product.html">Product title here </a> </div>
                                    <div class="item-content">
                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                        </div>
                                        <div class="pro-action">
                                            <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item depth-1 product menucol-1-3 withimage">
                    <div class="product-item">
                        <div class="item-inner">
                            <div class="icon-sale-label sale-left">Sale</div>
                            <div class="icon-new-label new-right">New</div>
                            <div class="product-thumbnail">
                                <div class="icon-sale-label sale-left">Sale</div>
                                <div class="pr-img-area">
                                    <a title="Product title here" href="single_product.html">
                                        <figure> <img class="first-img" src="/client-side/images/products/product-1.jpg" alt="html Template"> <img class="hover-img" src="/client-side/images/products/product-1.jpg" alt="html Template"></figure>
                                    </a>
                                </div>
                                <div class="pr-info-area">
                                    <div class="pr-button">
                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="Product title here" href="single_product.html">Product title here </a> </div>
                                    <div class="item-content">
                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                        <div class="item-price">
                                            <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                        </div>
                                        <div class="pro-action">
                                            <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="/contact.html">Contact</a></li>
    </ul>
</div>